In [21]:
import pandas as pd 
import requests
import json

financial_url = 'https://financialmodelingprep.com/api/v3/'

sp = pd.read_csv('../data/constituents.csv', index_col='Symbol')

sp.head()

                       Name                  Sector
Symbol
MMM              3M Company             Industrials
AOS         A.O. Smith Corp             Industrials
ABT     Abbott Laboratories             Health Care
ABBV            AbbVie Inc.             Health Care
ACN           Accenture plc  Information Technology

In [22]:
resp = requests.request('GET', financial_url + 'company/profile/{}'.format(sp.iloc[0].name))

def setCompanyProfile(series, companyProfile):
    series['price'] = companyProfile['price']
    series['beta'] = companyProfile['beta']
    series['mktCap'] = companyProfile['mktCap']
    series['lastDiv'] = companyProfile['lastDiv']
    return series

for index in sp.index[:1]:
    resp = requests.request('GET', financial_url + 'company/profile/{}'.format(index))
    if (resp.text != None):
        jsonResp = json.loads(resp.text)
        companyProfile = jsonResp['profile']
        resultFrame = setCompanyProfile(sp.loc[sp.index == index], companyProfile)
        for i, v in resultFrame.iteritems():
           print(v)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [13]:
sp.head()

,Name,Sector,price,beta,mktCap,lastDiv
Symbol,,,,,,
MMM,lastDiv,lastDiv,lastDiv,lastDiv,lastDiv,lastDiv
AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN
ABT,Abbott Laboratories,Health Care,NaN,NaN,NaN,NaN
ABBV,AbbVie Inc.,Health Care,NaN,NaN,NaN,NaN
ACN,Accenture plc,Information Technology,NaN,NaN,NaN,NaN